[Unit]
Description=Audio Server Service
After=network.target sound.target

[Service]
Type=simple
User=root
Group=audio
ExecStart=/usr/bin/python3 -u /usr/lib/mp3-player-server/mp3-player-server-main.py
Restart=on-failure
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target